body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 16px;
}
a, a:link, a:active, a:visited {
    color: blue;
    text-decoration: underline;
}

ul {
    padding-top: 10px;
}

li {
    padding-bottom: 5px;
}

a:hover {
    text-decoration: none;
}
